@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background: rgb(114, 109, 205);
  background: rgb(30, 21, 194);
  background: linear-gradient(90deg, rgb(30, 21, 194) 0%, rgb(9, 9, 121) 32%, rgb(47, 21, 238) 100%);
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}
body .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  border-radius: 30px;
  text-align: center;
  min-height: 80vh;
}
@media (max-width: 375px) {
  body .main {
    width: 98%;
  }
}
body .main__timer {
  position: fixed;
  top: 0;
  padding: 20px;
}
body .main h1 {
  padding-top: 200px;
  padding-bottom: 30px;
  font-size: 3rem;
}
@media (max-width: 275px) {
  body .main h1 {
    font-size: 1rem;
    padding-top: 50px;
  }
}
body .main .buttonStart {
  height: 50px;
  border-radius: 15px;
  background-color: rgb(101, 63, 226);
  border: 2px solid purple;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  width: 200px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: 0.2s;
  font-family: Arial, Helvetica, sans-serif;
}
body .main .buttonStart:hover {
  background-color: rgb(19, 5, 19);
}
@media (max-width: 375px) {
  body .main .buttonStart {
    height: 50px;
    width: 50%;
  }
}
body .main__answerNumber {
  padding: 20px;
  border-top: 3px solid black;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.5rem;
}
body .main .button {
  height: 50px;
  border-radius: 15px;
  background-color: rgb(101, 63, 226);
  border: 2px solid purple;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  width: 50%;
  padding: 10px;
  margin: 20px;
}
@media (max-width: 375px) {
  body .main .button {
    width: 98%;
    margin: 10px;
    height: 40px;
    padding: 0;
  }
}
body .main__buttonEnd {
  height: 50px;
  border-radius: 15px;
  background-color: rgb(101, 63, 226);
  border: 2px solid purple;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  width: 25%;
  padding: 0;
  margin: 20px;
  background-color: rgb(26, 26, 231);
}
@media (max-width: 375px) {
  body .main__buttonEnd {
    width: 50%;
  }
}
@media (max-width: 375px) {
  body .main__scoreText {
    font-size: 1rem;
  }
}
body .main__goodList {
  margin-top: 20px;
  margin-bottom: 10px;
}
body .main__goodList li {
  background-color: green;
  margin: 20px;
  padding: 15px;
  list-style-type: none;
}
@media (max-width: 375px) {
  body .main__goodList li {
    font-size: 0.8rem;
    margin: 5px;
    padding: 5px;
  }
}
body .main__errorList {
  margin-top: 20px;
  margin-bottom: 10px;
}
body .main__errorList li {
  background-color: #f32828;
  margin: 20px;
  padding: 15px;
  list-style-type: none;
}
@media (max-width: 375px) {
  body .main__errorList li {
    font-size: 0.8rem;
    margin: 5px;
    padding: 5px;
  }
}/*# sourceMappingURL=style.css.map */